<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionStringInsur" value="Host=127.0.0.1;port=3306;UserName=root;Password=neso;Database=insurance;character set=utf8;sslmode=None"/>
		<add key="ConnectionStringInsurLogMySQL" value="Host=127.0.0.1;port=3306;UserName=root;Password=neso;Database=insurancelog;character set=utf8;sslmode=None"/>
		<add key="BusinessClass"  value="BBusiness"/>
		<add key="callmode"  value="1"/>
		<add key="url"  value="http://192.168.3.46:9109/service.asmx"/>
		<add key="parameters" value="1|1|1^xmlStr|user_id|signature"/>
		<add key="use_encryption" value="1"/>
		<add key="MethodName" value="BusinessZZJ"/>
	</appSettings>
</configuration>